<!--
<div class="head-wrap">
    <hr class="divider">
    <header id="header" class="container">
        <div id="search-box" class="search-box-new line">
            <div class="search-block clearfix">
                <div class="search-cont clearfix">
                    <a class="logo" href="/" title="百度知道"></a>
                    <form action="/search" name="search-form" method="get" id="search-form-new" class="search-form">
                        <input class="hdi" id="kw" maxlength="256" tabindex="1" size="46" name="word" value="" autocomplete="off" />
                        <button alog-action="g-search-anwser" type="submit" id="search-btn" hidefocus="true" tabindex="2" class="btn-global">搜索答案</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>
-->